# ====================================================================
# CONFIGURACIÓN DE VARIABLES DE ENTORNO
# ====================================================================

# 2. Cadena de Conexión a Neon PostgreSQL (Pooled)
DATABASE_URL="postgresql://usuario:password@ep-ejemplo-pooler.c-2.sa-east-1.aws.neon.tech/neondb?sslmode=require"

# 3. Cadena de Conexión Directa a Neon (Unpooled)
DATABASE_URL_UNPOOLED="postgresql://usuario:password@ep-ejemplo.c-2.sa-east-1.aws.neon.tech/neondb?sslmode=require"
